.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 7rem;
    text-align: center;
    gap:3rem;
    padding: 9.5rem 5% 8.6rem 5%;

    background-color: $primary-pink-color;
    color: $primary-bg-color;

    h1{
        font-size: 3.6rem;
        font-weight: 600;
        margin: 0;
        line-height: 5rem;
        
        @include respond(sm){
            width: 60%;
        }
    }
    p{
        font-size: 1.6rem;
        font-weight: 400;
        color: $primary-bg-color;

        @include respond(sm){
            width: 60%;
        }
    }
}