.features-section__card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 3rem;
    z-index: 2;
    
    @include respond(lg){
        flex-direction: row;
    }

    .features-section__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1.5rem;
        box-shadow: $box-shadow-card;
        background-color: $primary-bg-color;

        text-align: center;
        width: 31.3rem;
        height: 25rem;

        @include respond(md){
            width: 36.7rem;
        }

        .card__title{
            margin: 0;
            font-size: 2.6rem;
            font-weight: 400;
            color: $primary-purple-color;
        }

        .card__description{
            margin: 0;
            font-size: 1.6rem;
            font-weight: 400;
            color: $primary-desc-color;
            padding: 0 1.5rem;
        }
    }
}