//root font size
$base-font-size: 10px;

//colors 
$primary-bg-color : #fff;
$primary-pink-color: #F64C72;
$primary-purple-color: #553D67;
$primary-desc-color:#6D7D8B;
$primary-lightgray-color:#BBC8D4;
$input-border:0.2rem solid #BBC8D4;
$box-shadow-card:0px 8.53px 12.79px 0px #06000040;

//breakpoints
$small-screen:600px;
$medium-screen:901px;
$large-screen:1400px;
